/* ===== GENERAL ===== */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #BE67F0;
  color: #333;
}

header {
  background-color: #BE67F0;
  color: blue;
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  background-color: #000000;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.principal {
  text-align: center;
  padding: 40px;
}

/* ===== AUDIO TEXTO Y COLOR ===== */
.Audio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.Audio div {
  background-color: #B134C2;
  border-radius: 10px;
  padding: 10px 20px;
  width: 60%;
  text-align: center;
  box-shadow: 0 0 10px #B134C2;
}

.Audio p {
  font-weight: bold;
  margin-bottom: 5px;
}

