/* ===== GENERAL ===== */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #BE67F0;
  color: #333;
}

header {
  background-color: #BE67F0;
  color: blue;
  text-align: center;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  background-color: #000000;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

.principal {
  text-align: center;
  padding: 40px;
}

/* ===== VIDEOS Y AUDIOS ===== */
.videos, .audios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

video, audio {
  width: 300px;
  border-radius: 10px;
}

